@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  input {
    @apply p-2 rounded-md;
  }
}

.home-card {
  @apply bg-purple-600 text-white p-10 text-2xl rounded-md cursor-pointer col-span-12 md:col-span-6 hover:bg-purple-500;
}

.card {
  @apply bg-white p-4 rounded-lg shadow-md;
}

.nav-link {
  @apply text-gray-900 hover:bg-yellow-200 cursor-pointer px-4 py-1 rounded-full;
}

.nav-link.active {
  @apply bg-yellow-200 font-bold;
}

.btn {
  @apply rounded-md bg-purple-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600;
}

.btn-invisible {
  @apply cursor-pointer;
}
